body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.content{
    display: flex;
    flex-direction: column;
}
.sectionOne{
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
}
.s1Content{
    display: flex;
    margin: 100px 0;
}
.header{
    display: flex;
    justify-content: space-between;
}
.header h1{
    margin-left: 150px;
    color: #f9faf8;
    font-size: 24px;
}
.s1Content .leftSide{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 270px;
}
.s1Content .leftSide h1{
    font-size: 48px;
    font-weight: 1000;
    color: #f9faf8;
    margin: 0;
}
.s1Content .leftSide p{
    font-size: 18px;
    color: #E5E7EB;
}
.s1Content .leftSide .button{
    display: flex;
    width: 125px;
    height: 40px;
    background-color: #3882F6;
    color: #f9faf8;
    border-radius: 10px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
}
.s1Content .rightSide{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5f7087;
    color: #f9faf8;
    flex: 1;
    margin-right: 200px;
}
.sectionTwo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}
.s2Content{
    display: flex;
    gap: 50px;
    color: #5f7087;
    margin: 20px 0 100px;
}
.square{
    width: 100%;
    padding-top: 100%;
    border: #3882F6 solid 4px;
    border-radius: 10px;
}
.sectionThree{
    display: flex;
    background-color: #E5E7EB;
    align-items: center;
    justify-content: center;
}
.s3Content{
    display: flex;
    flex-direction: column;
    margin: 125px 0;
}
.s3Content p{
    font-size: 36px;
    color: #1f2937;
    font-weight: lighter;
    margin: 0;
}
.s3Content h6{
    align-self: flex-end;
    font-size: 20px;
    margin: 0;
}
.sectionFour{
    display: flex;
    align-items: center;
    justify-content: center;
}
.s4Content{
    background-color: #3882F6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    border-radius: 20px;
    margin: 100px 0;
    gap: 150px;
    padding: 50px 100px;
}
.s4Content .leftSide{
    display: flex;
    flex-direction: column;
}
.s4Content .leftSide h2{
    color: #f9faf8;
    margin: 0;
}
.s4Content .leftSide p{
    margin: 0;
    color: #E5E7EB;
}
.s4Content .rightSide a{
    height: 50px;
    width: 100px;
    border: 2px solid #f9faf8;
    color: #f9faf8;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 500ms;
}
.s4Content .rightSide a:hover{
    background-color: #f9faf8;
    color:#3882F6;
}
.footer{
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
    height: 70px;
}
ul{
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    gap: 15px;
    margin-right: 200px;
    color: #e5e7eb;
    font-size: 18px;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: inherit;
}